/tmp
/out-tsc

/node_modules
/bower_components
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

# Angular CLI build cache
/.angular/
.angular/

# Package lock files
package-lock.json

.vscode/*
/iep-blockexplorer-ui.iml
